.bg {
    background-image: url('/static/images/workshop.jpg');
}

.login-cards{
    height:700px;
    width: 400px;
    background-color: transparent; 
    margin: 5px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    border: none;
}