{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block page %}HOME{% endblock %}

{{ super() }}
{% block content %}

{% if selected %} 
    <section class="col s12 m6" style="margin-top: 5px; overflow-y:scroll; height: 86vh">
        <div class="row" style="display: flex">
            <section class="col 12 m12" style="padding:10px">
                <div class="card"  style="padding: 20px; height:880px">
                    <div class="card-title">
                        <h1 style= "font-size: 30px">{{selected.title}}</h1>
                    </div>
                    <div class="card-contents" style="margin-top:50px">
                        <p>Company: {{selected.company}}</p>
                        <p>Location: {{selected.location}}</p>
                        <p>Start date: {{selected.start}}</p>
                        <p>Duration: {{selected.duration}}</p>
                        <p>Stipend: {{selected.stipend}}</p>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="col s12 m6" style="margin-top: 5px; overflow-y:scroll; height: 86vh">
                <article class= "col s12 m12" style= "padding: 10px">
                    <div class="card"  style="padding: 20px">
                        <div class="card-title">
                            <h1 style="font-size: 50px;">Application</h1>
                        </div>
                        <div class="card-contents" style="font-size: 20px; margin-top:70px;">
                            <form action="/apply/{{selected.id}}" method="POST" enctype="multipart/form-data">
                                <div style=" width: 500px">
                                    <input placeholder="First Name" name="firstname" type="text" required>
                                    <input style="margin-top:20px" placeholder="Last Name"name="lastname" type="text" required>
                                </div>
                                <div style= "width:200px; margin-top:20px">
                                    <label for="dob">Date of Birth:</label>
                                    <input type="date" name="dob" required>
                                </div>
                                <div style="width:300px; margin-top:20px">
                                    <input style="margin-top:20px"type="text" name="email" placeholder ="E-mail" required>
                                    <input style="margin-top:20px"type="text" name="phone" placeholder ="phone number">
                                </div>
                                <div class="file-field input-field" style="width: 250px; margin-top:50px">
                                    <div class="btn">
                                        <span>File</span>
                                        <input type="file" name="transcript">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="upload transcript here">
                                    </div>
                                </div>

                                <div class="file-field input-field" style="width: 250px;">
                                    <div class="btn">
                                        <span>File</span>
                                        <input type="file" name="resume">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="upload Résumé here">
                                    </div>
                                </div> 

                                <button type="submit" class="btn" style="background-color:#30738E; margin-top:50px">APPLY</button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
    </section>
{% else %}
    <section class="col s12 m6" style="margin-top: 5px; overflow-y:scroll; height: 800px">
    {% for internship in internships %}
            <div class= "col s12 m6" style= "padding: 10px">
                <div class="card"  style="padding: 20px">
                    <div class="card-title">
                        <p> {{internship.title}} </p>
                    </div>
                    <div class="card-contents">
                        <p>Company: {{internship.company}}</p>
                        <p>Location: {{internship.location}}</p>
                        <p>Start date: {{internship.start}}</p>
                        <p>Duration: {{internship.duration}}</p>
                        <p>Stipend: {{internship.stipend}}</p>

                        <form action="/home/{{internship.id}}" method="GET" style="margin-top:40px">
                            <button class="btn" type="submit"> Apply </button>
                        </form>
                    </div>
                </div>
            </div>
    {% endfor %}
    </section>
    <div class="col s12 m6" style="display: grid">
        <h1 style = "text-align: center; font-size: 35px;">Applications</h1>
        <section style="margin-top: 5px; overflow-y:scroll; height: 300px">
            {% for application in applications %}
                {% if application.user.id == current_user.id %}
                    <div class="card"  style="padding: 20px">
                        <div class="card-title">
                            <p style="font-size: 20px;"> {{application.internship.title}} </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
        <h1 style = "text-align: center; font-size: 35px;">Shortlisted Programs</h1>
        <section style="margin-top: 5px; overflow-y:scroll; height: 400px">
            {% for application in applications %}
                    <div class="card"  style="padding: 20px">
                        <div class="card-title">
                            <p style="font-size: 20px;"> {{application.internship.title}} </p>
                        </div>
                    </div>
            {% endfor %}
        </section>
    </div>
{% endif %}

{% endblock %}