{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block page %}HOME{% endblock %}

{{ super() }}
{% block content %}
{% if current_user.role == 'student' %}
{% if selected %} 
    <section class="col s12 m6" style="margin-top: 5px; overflow-y:scroll; height: 86vh">
        <div class="row" style="display: flex">
            <section class="col 12 m12" style="padding:10px">
                <div class="card"  style="padding: 20px; height:880px">
                    <div class="card-title">
                        <h1 style= "font-size: 30px">{{selected.title}}</h1>
                    </div>
                    <div class="card-contents" style="margin-top:50px">
                        <p>Company: {{selected.company}}</p>
                        <p>Location: {{selected.location}}</p>
                        <p>Start date: {{selected.start}}</p>
                        <p>Duration: {{selected.duration}}</p>
                        <p>Stipend: {{selected.stipend}}</p>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="col s12 m6" style="margin-top: 5px; overflow-y:scroll; height: 86vh">
                <article class= "col s12 m12" style= "padding: 10px">
                    <div class="card"  style="padding: 20px">
                        <div class="card-title">
                            <h1 style="font-size: 50px;">Application</h1>
                        </div>
                        <div class="card-contents" style="font-size: 20px; margin-top:70px;">
                            <form action="/apply/{{selected.id}}" method="POST" enctype="multipart/form-data">
                                <div style=" width: 500px">
                                    <input placeholder="First Name" name="firstname" type="text" required>
                                    <input style="margin-top:20px" placeholder="Last Name"name="lastname" type="text" required>
                                </div>
                                <div style= "width:200px; margin-top:20px">
                                    <label for="dob">Date of Birth:</label>
                                    <input type="date" name="dob" required>
                                </div>
                                <div style="width:300px; margin-top:20px">
                                    <input style="margin-top:20px"type="text" name="email" placeholder ="E-mail" required>
                                    <input style="margin-top:20px"type="text" name="phone" placeholder ="phone number">
                                </div>
                                <div class="file-field input-field" style="width: 250px; margin-top:50px">
                                    <div class="btn">
                                        <span>File</span>
                                        <input type="file" name="transcript">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="upload transcript here">
                                    </div>
                                </div>

                                <div class="file-field input-field" style="width: 250px;">
                                    <div class="btn">
                                        <span>File</span>
                                        <input type="file" name="resume">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="upload Résumé here">
                                    </div>
                                </div> 

                                <button type="submit" class="btn" style="background-color:#30738E; margin-top:50px">APPLY</button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
    </section>
{% else %}
    <section class="col s12 m6" style="margin-top: 5px; overflow-y:scroll; height: 800px">
    {% for internship in internships %}
            <div class= "col s12 m6" style= "padding: 10px">
                <div class="card"  style="padding: 20px">
                    <div class="card-title">
                        <p> {{internship.title}} </p>
                    </div>
                    <div class="card-contents">
                        <p>Company: {{internship.company}}</p>
                        <p>Location: {{internship.location}}</p>
                        <p>Start date: {{internship.start}}</p>
                        <p>Duration: {{internship.duration}}</p>
                        <p>Stipend: {{internship.stipend}}</p>

                        <form action="/home/{{internship.id}}" method="GET" style="margin-top:40px">
                            <button class="btn" type="submit"> Apply </button>
                        </form>
                    </div>
                </div>
            </div>
    {% endfor %}
    </section>
    <div class="col s12 m6" style="display: grid">
        <h1 style = "text-align: center; font-size: 35px;">Applications</h1>
        <section style="margin-top: 5px; overflow-y:scroll; height: 300px">
            {% for application in applications %}
                {% if application.user.id == current_user.id %}
                    <div class="card"  style="padding: 20px">
                        <div class="card-title">
                            <p style="font-size: 20px;"> {{application.internship.title}} </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
        <h1 style = "text-align: center; font-size: 35px;">Shortlisted Programs</h1>
        <section style="margin-top: 5px; overflow-y:scroll; height: 400px">
            {% for application in applications %}
                    <div class="card"  style="padding: 20px">
                        <div class="card-title">
                            <p style="font-size: 20px;"> {{application.internship.title}} </p>
                        </div>
                    </div>
            {% endfor %}
        </section>
    </div>
{% endif %}
{% endif %}

{% if current_user.role == 'company' %}
    <div class="col s12 m6" style=" margin-top:5px;">
        <h1 style="font-size:30px; text-align: center;">Projects</h1>
        <div style="overflow-y:scroll; height:530px">
            {% for internship in internships %}
            {% if internship.company_id == current_user.id %}
            <div class="card" style="height: 230px; padding: 5px;">
                <div style="display: flex;">
                    <div style= "font-size:17px; margin-left:40px">
                        <p style="font-size:25px">{{internship.title}}</p>
                        <p>Stipend: {{internship.stipend}}</p>
                        <p>Start: {{internship.start}}</p>
                        <p>Duration: {{internship.duration}}</p>
                    </div>
                    <div style="margin-left: 100px; margin-top: 80px; display: flex">
                        <form>
                            <button type="submit" class="btn-large">VIEW</button>
                        </form>
                        <form action="/removeProject/{{internship.id}}" method="POST">
                            <button style="margin-left:25px; background-color: #FF3737;" type="submit" class="btn-large">DELETE</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col s12 m6" style="margin-top:5px">
        <div class="card" style="height:600px; width:400px; margin-left: 30px; padding:10px; ">
            <h1 style="font-size:30px; text-align: center;">Post an Internship Project</h1>
            <form  method="POST" action="/submitProject/{{current_user.id}}" style=" align-items: center; width: 250px; margin-left:20px; margin-top:80px;">
                <input placeholder="title" name="title" type="text" required>
                <input placeholder="Company Name" name="company" type="text" required>
                <input placeholder="location" name="location" type="text">
                <input placeholder="start date" name="start" type="text">
                <input placeholder="duration" name="duration" type="text">
                <input placeholder="stipend" name="stipend" type="text">
                <button type="submit" class="btn" style="background-color:#30738E; margin-top:50px">SUBMIT</button>
            </form>
        </div>
    </div>
  
{% endif %}

{% if current_user.role == 'admin' %}

    <div class="col s12 m6" style=" margin-top:5px;">
        <h1 style="font-size:30px; text-align: center;">Internships</h1>
        <div style="height:500px; overflow-y:scroll">
            {% for internship in internships %}
            <div class="card" style="height: 200px; padding: 5px;">
                <div style="display: flex;">
                    <div class="card-contents">
                        <p style="margin-left:20px; margin-top: 60px; font-size:20px">Title: {{internship.title}}</p>
                        <p style="margin-left:20px; font-size: 20px;">Company name: {{internship.company}}</p>
                    </div>
                    <form style="margin-left:120px; margin-top:60px" action="/home/{{internship.id}}" method="GET">
                        <button class="waves-effect waves-light btn-large" type="submit">View</p>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col s12 m6" style=" margin-top:15px;">
        <h1 style="font-size:30px; text-align: center;">Internship Details</h1>
        <div class="card" style="height: 460px; padding: 5px;">
            {% if selected %}
                <div style="font-size:20px; margin-left: 30px;">
                    <p>Title: &nbsp;&nbsp;{{selected.company}}</p>
                    <p>Company: &nbsp;&nbsp;{{selected.company}}</p>
                    <p>Location: &nbsp;&nbsp;{{selected.location}}</p>
                    <p>Start date: &nbsp;&nbsp;{{selected.start}}</p>
                    <p>Duration: &nbsp;&nbsp;{{selected.duration}}</p>
                    <p>Stipend: &nbsp;&nbsp;{{selected.stipend}}</p>
                </div>
                <form style="margin-top:101px" action="/adminShortlist/{{selected.id}}">
                    <button type="submit" class="btn-large" style="width:600px">VIEW APPLICATIONS</button>
                </form>
            {% endif %}
        </div>
    </div>

{% endif %}

{% endblock %}