{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block page %}HOME{% endblock %}

{{ super() }}
{% block content %}

{% if current_user.role == 'company' %}
    <section class="col s12 m6" style="margin-top: 5px; height: 86vh">
        <h1 style = "text-align: center; font-size: 35px; margin: 10px;">Application Details</h1>
        <section class="col s12 m12" style="margin-top: 5px; overflow-y:scroll; height: 100%;">
            <div class="card"  style="padding: 20px">
                {% if selected %}
                    <div class="card-contents"style= "font-size: 20px">
                        <p>First Name: {{selected.firstname}}</p>
                        <p>Last Name: {{selected.lastname}}</p>
                        <p>Date of Birth: {{selected.dob}}</p>
                        <p>E-mail : {{selected.email}}</p>
                        <p>Phone number: {{selected.phone}}</p>
                    </div>
                {% endif %}
            </div>
        </section>
    </section>
    <section class="col s12 m6" style="margin-top: 5px; height: 40vh">
        <h1 style = "text-align: center; font-size: 35px; margin: 10px;">Internship Details</h1>
        <section style="margin-top: 5px; overflow-y:scroll; height: 100%; width:100%">
            <div class="card"  style="font-size: 20px; margin: 0.5rem;padding: 20px;display:flex;flex-direction: column;">
                <p>Title: {{internship.title}}</p>
                <p>Company: {{internship.company}}</p>
                <p>Location: {{internship.location}}</p>
                <p>Start date: {{internship.start}}</p>
                <p>Duration: {{internship.duration}}</p>
                <p>Stipend: {{internship.stipend}}</p>
            </div>
        </section>
        <div style=" margin-top:5px;">
            <h1 style = "text-align: center; font-size: 35px; margin: 10px;">Shortlisted Students</h1>
            <section style="margin-top: 5px; overflow-y:scroll; height: 100%; width:100%">
                {% for student in shortlist %}
                <div class="card"  style="margin: 0.5rem; padding: 20px; display:flex; flex-direction: row; align-items: center; justify-content: space-between;">
                    <div class="card-contents">
                        <p style="font-size: 20px; margin-right: 30px;">{{student.application.firstname}} {{student.application.lastname}}</p>
                    </div>
                    <form action="/details/{{student.application_id}},{{student.internship_id}}" method="GET">
                        <button class="waves-effect waves-light btn-large" type="submit">View Application</p>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% if current_user.role == 'admin' %}

    <section class="col s12 m6" style="margin-top: 5px; height: 86vh">
        <h1 style = "text-align: center; font-size: 35px; margin: 10px;">Application</h1>
        <section class="col s12 m12" style="margin-top: 5px; overflow-y:scroll; height: 100%;">
            <div class="card" style="padding: 20px">
                {% if selected %}
                    <div class="card-contents"style= "font-size: 20px">
                        <p>First Name: {{selected.firstname}}</p>
                        <p>Last Name: {{selected.lastname}}</p>
                        <p>Date of Birth: {{selected.dob}}</p>
                        <p>E-mail: {{selected.email}}</p>
                        <p>Phone number: {{selected.phone}}</p>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <form action="/addShortlist/{{selected.id}},{{selected.internship_id}}" method="POST" style="width: 50%; padding: 10px;">
                            <button type="submit" class="waves-effect waves-light btn-large" style="width: 100%">ADD TO SHORTLIST</button>
                        </form>
                        <form action="/removeFromShortlist/{{selected.shortlists.id}}" method="POST" style="width: 50%; padding: 10px;">
                            <button type="submit" class="waves-effect waves-light btn-large red" style="width: 100%">REMOVE FROM SHORTLIST</button>
                        </form>
                    </div>
                    

                {% endif %}
            </div>
                
        </section>
    </section>
    <section class="col s12 m6" style="margin-top: 5px; height: 40vh">
        <h1 style = "text-align: center; font-size: 35px; margin: 10px;">Applied Students</h1>
        <section style="margin-top: 5px; overflow-y:scroll; height: 100%; width:100%">
            {% for application in applications %}
            <form class="card"  style="font-size: 20px;margin: 0.5rem;padding: 20px;display:flex;align-items: center;justify-content: space-between;" action="/details/{{application.id}},{{application.internship_id}}" method="GET">
                <div class="card-contents">
                    <p style="font-size:20px">{{application.firstname}} {{application.lastname}}</p>
                </div>
                <button " class="waves-effect waves-light btn-large" type="submit">View Application</button>
            </form>
            {% endfor %}
        </section>
        <h1 style = "text-align: center; font-size: 35px; margin: 10px;">Shortlisted Students</h1>
        <section style="margin-top: 5px; overflow-y:scroll; height: 100%; width:100%">
            {% for student in shortlist %}
            <div class="card"  style="margin: 0.5rem; padding: 20px; display:flex; flex-direction: row; align-items: center; justify-content: space-between;">
                <div class="card-contents">
                    <p style="font-size: 20px; margin-right: 30px;">{{student.application.firstname}} {{student.application.lastname}}</p>
                </div>
                <form action="/details/{{student.application_id}},{{student.internship_id}}" method="GET">
                    <button " class="waves-effect waves-light btn-large" type="submit">View Application</p>
                </form>
            </div>
            {% endfor %}
        </section>
    </section>
{% endif %}

{% endblock %}